<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Excel PDF App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Leer Excel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Generar PDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Registro</a>
      </li>
    </ul>
  </div>
</nav>-->
<router-outlet></router-outlet>


